body {
    margin: 0 auto;
    width: 80%;
}

.d-flex {
    background-color: grey;
    margin-top: 20px;
    color: white;
    padding-left: 20px;
}

#title {
    width: 97%;
} 
header ul a:link {
    color: white;
}

h5 {
    margin-bottom: 10px;
}

#list-group {
    margin-top: 10px;
} 

.sizeSection {
    background-color: lightgrey;
    padding: 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 26px;
    width: 97%;
}

.visitedCities {
    display: flex;
    flex-direction: row;
}

#aside {
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    height: 400px;
    margin-right: 20px;
}

#cards {
    width: 500px;
    display: flex;
    flex-wrap: wrap;    
}
